email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.8
fastapi-cli==0.0.7
httptools==0.6.4
httpx==0.28.1
importlib_metadata==8.6.1
ipykernel==6.29.5
pickleshare==0.7.5
pip==25.0
pytest==8.3.4
python-dotenv==1.0.1
python-multipart==0.0.20
PyYAML==6.0.2
scikit-learn==1.6.1
seaborn==0.13.2
spacy==3.8.4
uvloop==0.21.0
watchfiles==1.0.4
websockets==14.2
wheel==0.45.1
